@charset "UTF-8";
* {
  transition: all 0.5s ease-out; }

html, body {
  height: 100%; }

#container {
  width: 100%;
  height: 100%; }

#headBox {
  width: 100%;
  height: 8.125rem;
  /* 130px */
  background-color: rgba(255, 85, 170, 0.3); }

#gnb {
  width: 60rem;
  /* 960px */
  height: 3.75rem;
  /*60px;*/ }

/* 메뉴 */
#banner {
  width: 100%;
  height: 100%;
  /* 408px*2 = 51rem */
  background-image: url(../img/Nice-Summer-Desktop-for-Windows.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

/*동영상 넣을 곳*/
#content {
  width: 100%;
  height: 25.5rem;
  /*25.5rem*/
  /* 408px */
  padding: 0.9375rem 0; }

#footBox {
  width: 100%;
  height: 6.875rem;
  /* 110px */
  background-color: #3F3633; }

@media screen and (min-width: 1025px) {
  #container > #headBox {
    float: left;
    position: fixed; }
    #container > #headBox > h1 {
      width: 126px;
      height: 50px;
      margin: 15px 15px;
      background-color: #f5a;
      display: block; }
    #container > #headBox > #gnb {
      width: 80%;
      height: auto;
      margin: 0 auto; }
      #container > #headBox > #gnb > ul {
        width: 100%;
        height: 100%;
        margin: auto; }
      #container > #headBox > #gnb > ul > li {
        width: auto;
        height: auto;
        margin-right: 14%;
        float: left;
        font-size: 1.375rem;
        letter-spacing: 0.1em;
        font-size: 22px; }
        #container > #headBox > #gnb > ul > li:last-child {
          margin-right: 0; }
      #container > #headBox > #gnb > ul > li > a {
        font-size: 1.6rem;
        text-decoration: none;
        color: #1E0E07; }
      #container > #headBox > #gnb a:hover {
        font-size: 1.8rem;
        color: #E52E2E;
        font-weight: bold; }
  #container #banner {
    float: left; }
    #container #banner > h2 > span {
      width: 0;
      height: 0;
      display: block;
      overflow: hidden; }
  #container #content {
    float: left;
    background-color: #ddd; }
    #container #content > ul {
      width: 100rem;
      /*1025px*/
      height: 25rem;
      /* 343px */
      text-align: center;
      margin: auto; }
      #container #content > ul > li {
        width: 25rem;
        /* 240px/1025*100 */
        height: 100%;
        float: left;
        border: 2px solid #E29017;
        box-sizing: border-box; }
        #container #content > ul > li:nth-child(1) {
          background-color: rgba(222, 112, 20, 0.5);
          border-right: 0; }
        #container #content > ul > li:nth-child(2) {
          background-color: rgba(204, 170, 255, 0.8);
          border-right: 0; }
        #container #content > ul > li:nth-child(3) {
          background-color: rgba(237, 141, 207, 0.5);
          border-right: 0; }
        #container #content > ul > li:nth-child(4) {
          background-color: rgba(119, 178, 231, 0.8); }
      #container #content > ul li > a {
        width: auto;
        height: auto;
        display: block;
        color: #fff;
        font-weight: bold;
        font-size: 2rem;
        line-height: 25rem;
        text-decoration: none; }
      #container #content > ul a:hover {
        color: #f5a; }
  #container #footBox {
    float: left; } }

/*# sourceMappingURL=index.css.map */
