@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lobster&subset=latin,vietnamese,latin-ext,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light&subset=latin,vietnamese,latin-ext,cyrillic);
* {
  transition: all 0.5s ease-out; }

html, body {
  height: 100%; }

#container {
  width: 100%;
  height: 100%; }

#headBox {
  width: 60vw;
  /*960px;*/
  height: 7rem;
  /* 130px */
  margin-right: auto;
  margin-left: auto; }

#gnb {
  /*width: 60rem;*/
  /* 960px */
  height: 3.75rem;
  /*60px;*/ }

/* 메뉴 */
#banner {
  width: 100%;
  height: 100%;
  /* 408px*2 = 51rem */
  background-image: url(../img/2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 18%; }

/*동영상 넣을 곳*/
#content_01 {
  width: 100%;
  height: 100%;
  background-color: #ede; }

#content_02 {
  width: 100%;
  height: 25.5rem;
  /*25.5rem*/
  /* 408px */
  padding: 1.2rem 0;
  /*0.9375rem 0*/ }

#footBox {
  width: 100%;
  height: 6.875rem;
  /* 110px */
  background-color: #3F3633; }

button {
  width: 1rem;
  height: 1rem;
  z-index: 500;
  border-radius: 0.6rem;
  position: fixed;
  top: 80%;
  right: 20px;
  cursor: pointer;
  transition: all 0.5s;
  animation: arr 2s infinite ease alternate;
  background-color: #ccc;
  color: #fff; }

@keyframes arr {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-10px); } }
@media screen and (min-width: 1025px) {
  #container #headWrap > #headBox {
    position: fixed;
    left: 50%;
    margin-left: -500px;
    margin-top: 15px; }
    #container #headWrap > #headBox > h1 {
      width: 126px;
      height: 50px;
      margin: 15px 15px;
      background-color: #f5a;
      display: block;
      float: left; }
      #container #headWrap > #headBox > h1 > a {
        font-family: 'Lobster', cursive;
        color: #eee;
        font-size: 1.47rem;
        line-height: 50px;
        text-align: center;
        text-decoration: none;
        margin-left: 10px; }
    #container #headWrap > #headBox > #gnb {
      width: 37.5rem;
      height: auto;
      float: right;
      padding-top: 45px; }
      #container #headWrap > #headBox > #gnb > ul {
        width: 37.5rem;
        height: 100%; }
        #container #headWrap > #headBox > #gnb > ul::after {
          content: "";
          display: block;
          clear: both; }
      #container #headWrap > #headBox > #gnb > ul > li {
        height: auto;
        margin-right: 1.5vw;
        float: left;
        font-size: 1.375rem;
        letter-spacing: 0.1em;
        font-size: 22px; }
        #container #headWrap > #headBox > #gnb > ul > li:hover {
          transform: rotateX(360deg);
          background-color: rgba(255, 255, 255, 0.7);
          font-weight: bold; }
        #container #headWrap > #headBox > #gnb > ul > li:last-child {
          margin-right: 0; }
      #container #headWrap > #headBox > #gnb > ul > li > a {
        width: 50px;
        height: 100px;
        font-size: 1rem;
        font-weight: bold;
        text-decoration: none;
        color: #1E0E07; }
        #container #headWrap > #headBox > #gnb > ul > li > a:hover {
          font-weight: inherit; }
  #container #content_01 {
    float: left; }
    #container #content_01 .aboutBox {
      width: 1500px;
      height: 600px;
      /*background-color: rgba(#ddd, .7);*/
      margin: 12% auto; }
      #container #content_01 .aboutBox > div {
        width: auto;
        height: 100%;
        float: left; }
      #container #content_01 .aboutBox .acc_01 {
        background-color: #f91; }
      #container #content_01 .aboutBox .acc_02 {
        background-color: #f73; }
      #container #content_01 .aboutBox .acc_03 {
        background-color: #f44; }
      #container #content_01 .aboutBox .acc_04 {
        background-color: #f37; }
      #container #content_01 .aboutBox .acc_05 {
        background-color: #f19; }
      #container #content_01 .aboutBox > div > dl {
        width: auto;
        height: 100%; }
      #container #content_01 .aboutBox > div > dl > dt {
        width: 80px;
        height: 100px;
        float: left;
        background-color: rgba(85, 255, 170, 0.3);
        text-align: center;
        font-size: 0.8rem;
        margin-top: -50px;
        line-height: 40px;
        font-weight: bold; }
      #container #content_01 .aboutBox > div > dl > dd {
        /* width:calc(100% - 70px); */
        width: 0;
        overflow: hidden;
        height: 100%;
        float: left;
        text-align: center;
        font-size: 0.7rem;
        /*transition: all 0.5s;*/ }
      #container #content_01 .aboutBox > div > dl > dd.widthView {
        width: 1100px; }
  #container #content_02 {
    float: left;
    background-color: #ddd; }
    #container #content_02 > ul {
      width: 92vw;
      /*1025px*/
      height: 25rem;
      /* 343px */
      text-align: center;
      margin: auto; }
      #container #content_02 > ul > li {
        width: 23vw;
        /* 240px/1025*100 */
        height: 100%;
        float: left;
        border: 2px solid #E29017;
        box-sizing: border-box; }
        #container #content_02 > ul > li:nth-child(1) {
          background-color: rgba(222, 112, 20, 0.5);
          border-right: 0; }
        #container #content_02 > ul > li:nth-child(2) {
          background-color: rgba(204, 170, 255, 0.8);
          border-right: 0; }
        #container #content_02 > ul > li:nth-child(3) {
          background-color: rgba(237, 141, 207, 0.5);
          border-right: 0; }
        #container #content_02 > ul > li:nth-child(4) {
          background-color: rgba(119, 178, 231, 0.8); }
      #container #content_02 > ul li > a {
        width: auto;
        height: auto;
        display: block;
        color: #fff;
        font-weight: bold;
        font-size: 2rem;
        line-height: 25rem;
        text-decoration: none; }
      #container #content_02 > ul a:hover {
        color: #f5a;
        transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s; }
  #container #footBox {
    float: left; } }

/*# sourceMappingURL=index.css.map */
