@import url(https://fonts.googleapis.com/css?family=Lobster&subset=latin,vietnamese,latin-ext,cyrillic); //font-family: 'Lobster', cursive;
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light&subset=latin,vietnamese,latin-ext,cyrillic); //font-family: 'Shadows Into Light', cursive;
//@import url(http://fonts.googleapis.com/css?family=Lobster&subset=all);


// _base.scss

$main:#0af;
$sub1:#E52E2E;
$sub2:#E29017;
$sub3:#25B75F;
$sub4:#F5a;
$sub5:#5945CE;
$foot:#3F3633;
$black:#1E0E07;
$white:#fff;
$line:2px solid $sub2;

//index_all.scss

*{transition:all 0.5s ease-out;}


html, body{height: 100%;}
#container{width:100%; height:100%;}
#headWrap{}
#headBox{width:60vw;/*960px;*/ height:7rem;/* 130px */ margin-right:auto; margin-left: auto;}
#gnb{/*width: 60rem;*//* 960px */ height: 3.75rem;/*60px;*/  }/* 메뉴 */
#banner{width: 100%; height:100%;/* 408px*2 = 51rem */ background-image: url(../img/2.jpg); background-repeat: no-repeat; background-size:100%; background-position: 0 18%;} /*동영상 넣을 곳*/
#content_01{width: 100%; height: 100%; background-color: #ede;}
#content_02{width:100%; height:25.5rem;/*25.5rem*//* 408px */ padding: 1.2rem 0;  /*0.9375rem 0*/ }
#footBox{width:100%; height:6.875rem;/* 110px */ background-color:$foot;}

button{width: 1rem; height: 1rem; z-index: 500; border-radius: 0.6rem; 
        position: fixed; top: 80%; right:20px; cursor: pointer; transition:all 0.5s; 
        animation: arr 2s infinite ease alternate; background-color: #ccc; color:#fff;}
    
    @keyframes arr{
			0%{transform: translateY(0);}
        100%{transform: translateY(-10px);}}


//_______PC full______________________________________

@media screen and (min-width:1025px){
#container{
    #headWrap{
    >#headBox{position: fixed; left: 50%; margin-left: -500px; margin-top: 15px;
        >h1{width: 126px; height: 50px; margin: 15px 15px;  background-color: #f5a; display: block; float: left; 
            >a{font-family: 'Lobster', cursive; color:#eee; font-size: 1.47rem; line-height: 50px; text-align: center; text-decoration: none; margin-left: 10px;}
        }// h1
    
    >#gnb{width:37.5rem/*600px*/; height: auto; float:right; padding-top:45px;
        >ul{width:37.5rem/*600px*/; height: 100%; 
            &::after{content:""; display: block; clear: both; }
        }
        >ul>li{ height: auto; margin-right: 1.5vw; float: left; font-size:1.375rem; letter-spacing: 0.1em; font-size:22px;  
//         &:hover{transform:matrix(1, 0, 0, 1, 0, 0); transition: transform 0.3s ease 0s; }
           &:hover{transform:rotateX(360deg); background-color: rgba(255,255,255,0.7); font-weight: bold;}
          &:last-child{margin-right: 0;}}
        >ul>li>a{width: 50px; height: 100px; font-size: 1rem; font-weight: bold; text-decoration: none; color:$black; 
        
        &:hover{font-weight:inherit; }
        }
    }// #gnb
    } // #headBox
        } // #headWrap
    
    #banner{
       
       // >p{font-size: 2rem; font-family: 'Shadows Into Light', cursive; color:#eee; position: fixed; z-index: -800;}
        
                
    }// #banner
    
    

    
    
    
    
    #content_01{ float: left;
            .aboutBox{width: 1500px; height: 600px; /*background-color: rgba(#ddd, .7);*/ margin: 12% auto;
           >div{width: auto; height: 100%; float: left;}
                .acc_01{background-color: #f91;}
                .acc_02{background-color: #f73;}
                .acc_03{background-color: #f44;}
                .acc_04{background-color: #f37;}
                .acc_05{background-color: #f19;}
            >div>dl{width: auto; height: 100%;}
            >div>dl>dt{width: 80px; height: 100px; float: left; background-color: rgba(#5fa,0.3); text-align: center; font-size: 0.8rem; margin-top: -50px; line-height: 40px; font-weight: bold;}
            >div>dl>dd{/* width:calc(100% - 70px); */width: 0; overflow: hidden; height: 100%; float: left; text-align: center; font-size: 0.7rem; /*transition: all 0.5s;*/}
            >div>dl>dd.widthView{width: 1100px;}
            
            
        }// #aboutBox
    }
  
    #content_02{ float:left; background-color: #ddd;
        >ul{width: 92vw;/*1025px*/; height: 25rem;/* 343px */ text-align: center; margin:auto; 
            >li{width: 23vw;/* 240px/1025*100 */ height: 100%; float: left; border: $line;
                box-sizing: border-box;
            &:nth-child(1){background-color:rgba(#de7014, .5); border-right: 0;}
            &:nth-child(2){background-color:rgba(#caf, .8); border-right: 0;}
            &:nth-child(3){background-color:rgba(#ed8dcf, .5); border-right: 0;}
            &:nth-child(4){background-color:rgba(#77b2e7, .8); }
            } //li
            
            li>a{width: auto; height: auto/*33vw*/; display: block; color:$white; font-weight: bold; font-size: 2rem; line-height: 25rem; text-decoration: none;
            }// li>a
            a:hover{color:#f5a; transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1)0s}
        }// ul 
        
    }// #content
    
    #footBox{ float:left}// #footBox
    
    } // #container
    
    }// pc