@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700);
* {
  transition: all 0.5s ease-out; }

html, body {
  height: 100%;
  overflow-x: hidden; }

#container {
  width: 100%;
  height: auto;
  position: relative; }

#headWrap {
  float: left; }

#headBox {
  width: 60vw;
  /*960px;*/
  height: 7rem;
  /* 130px */ }

#gnb {
  /*width: 60rem;*/
  /* 960px */
  height: 3.75rem;
  /*60px;*/ }

/* 메뉴 */
#banner {
  width: 100%;
  height: 100%;
  /* 408px*2 = 51rem */
  /* background-color:#000; */
  float: left; }

/*동영상 넣을 곳*/
#content_01 {
  width: 100%;
  height: 100%;
  float: left; }

#content_02 {
  width: 100%;
  height: 100%;
  float: left; }

#footBox {
  width: 100%;
  height: 7.5rem;
  /* 110px */
  background-color: #3F3633;
  float: left; }

video {
  width: 100%;
  height: 100%;
  float: left;
  /*position: absolute; z-index: -100; left: 0; top: 0;*/ }

@media screen and (max-width: 640px) {
  .mob_hidden {
    width: 0;
    height: 0;
    display: none; }

  #topAdd {
    width: 60vw;
    height: 10vw;
    background-color: #333;
    padding: 1rem 20vw;
    position: relative; }

  #topAdd > p {
    width: 100%;
    height: 2vw;
    line-height: 4vw;
    color: #fff;
    font-size: 0.8rem;
    float: left; }

  #topAdd > .addbox {
    width: 100%;
    height: 2vw;
    float: left; }

  #topAdd > .addbox > a {
    color: #faa;
    font-size: 0.9rem; }

  #topAdd > button {
    width: 10%;
    height: 100%;
    float: right;
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    position: absolute;
    top: 0;
    right: 5vw; }

  #container #headWrap {
    width: 100%;
    height: 300px;
    background-image: url("../img/findingDory_Wide.jpg");
    background-size: cover;
    background-repeat: no-repeat; }
    #container #headWrap #headBox {
      width: 60vw;
      height: 6vw;
      padding: 1rem 20vw;
      background-color: #eae;
      position: absolute;
      z-index: 1000;
      left: 0; }
      #container #headWrap #headBox > h1 {
        width: 150px;
        height: 30px;
        background-image: url("../img/pixarLogo.png");
        background-repeat: no-repeat;
        display: block;
        float: left;
        /*  >a{font-family: 'Lobster', cursive; color:#eee; font-size: 1.47rem; line-height: 50px; text-align: center; text-decoration: none; margin-left: 10px;} */ }
      #container #headWrap #headBox .gnb_btn {
        width: 50px;
        height: 50px;
        background-color: #fff;
        float: right;
        margin-bottom: 3rem; }
        #container #headWrap #headBox .gnb_btn > ul {
          width: 0;
          height: 0;
          display: none; }
    #container #headWrap #movie_btn {
      width: 0;
      height: 0;
      display: none; }
  #container #banner {
    width: 0;
    height: 0;
    display: none; }
  #container #content_01 {
    float: left;
    background-color: #ddd;
    width: 100%;
    height: 20vw; }
    #container #content_01 > h1 {
      color: #fff;
      font-size: 1rem;
      width: 100px;
      margin: 5px auto; }
    #container #content_01 ul {
      width: 100%;
      height: 10vw;
      margin: 0 auto; }
      #container #content_01 ul li {
        width: calc(80% / 4);
        height: 9vw;
        background-color: #fff;
        float: left;
        margin-right: 5%; }
        #container #content_01 ul li li:nth-child(1) {
          background-image: url("../img/avalable_internships.jpg"); }
        #container #content_01 ul li li:nth-child(2) {
          background-image: url("../img/career_faqs.jpg"); }
        #container #content_01 ul li li:nth-child(3) {
          background-image: url("../img/creating_a_demo_reel.jpg"); }
        #container #content_01 ul li li:nth-child(4) {
          background-image: url("../img/Intern_life.jpg"); }
        #container #content_01 ul li li:nth-child(5) {
          background-image: url("../img/Intern_FAQs.jpg"); }
        #container #content_01 ul li:last-child {
          margin-right: 0; }
        #container #content_01 ul li > a {
          width: 100%;
          height: 100%;
          background-color: #ecd;
          display: block; }
  #container #content_02 {
    width: 100%;
    height: 600px;
    background-color: #2aa;
    float: left; }
    #container #content_02 h1 {
      text-align: center;
      color: #ffba00;
      font-size: 1.3rem;
      padding: 2rem 0 1rem 0;
      font-weight: bold;
      text-decoration: underline; }
    #container #content_02 p {
      text-align: center;
      color: #333;
      font-size: 1rem;
      line-height: 1.42rem; }
    #container #content_02 ul {
      margin: 5px auto; }
      #container #content_02 ul li {
        width: 400px;
        height: 120px;
        background-color: #8af;
        float: left;
        border: 1px solid  #111; }
  #container #footBox {
    float: left; }
    #container #footBox > p {
      width: 30vw;
      margin: 20px auto;
      font-size: 1rem;
      color: #eee; } }
@media screen and (min-width: 641px) and (max-width: 1024px) {
  video {
    width: 0;
    height: 0;
    display: none; }

  .tab_hidden {
    width: 0;
    height: 0;
    display: none; }

  .conWrap {
    width: 960px;
    height: auto;
    margin: 0 auto; }

  #topAdd {
    width: 60vw;
    height: 3rem;
    background-color: #504739;
    padding: 1rem 20vw;
    position: relative; }

  #topAdd > p {
    width: 100%;
    height: 2vw;
    line-height: 1.36rem;
    margin-top: 0.5vh;
    color: #fff;
    font-size: 0.95rem;
    float: left; }

  #topAdd > button {
    width: 10%;
    height: 100%;
    float: right;
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    position: absolute;
    top: 0;
    right: 6vw;
    background-color: #302517; }

  #container #headWrap {
    width: 100%;
    height: 500px;
    background-color: #111; }
    #container #headWrap #headBox {
      width: 100%;
      height: auto;
      /* 130px */
      width: 100%;
      margin-left: 10%;
      margin-top: 2.5vw;
      float: left; }
      #container #headWrap #headBox > h1 {
        width: 150px;
        height: 30px;
        display: inline-block;
        float: left; }
        #container #headWrap #headBox > h1 a {
          display: inline-block;
          width: 100%;
          height: 100%;
          cursor: pointer; }
      #container #headWrap #headBox #gnb {
        width: 24rem;
        height: auto;
        float: right;
        margin-right: 16%; }
        #container #headWrap #headBox #gnb > ul {
          width: 100%;
          /*600px*/
          height: auto; }
          #container #headWrap #headBox #gnb > ul::after {
            content: "";
            display: block;
            clear: both; }
        #container #headWrap #headBox #gnb > ul > li {
          height: auto;
          margin-right: 1.2vw;
          float: left;
          font-size: 1rem;
          letter-spacing: 0.1em;
          font-size: 22px; }
          #container #headWrap #headBox #gnb > ul > li:nth-child(4) {
            margin-right: 0; }
          #container #headWrap #headBox #gnb > ul > li:last-child {
            margin-right: 0; }
        #container #headWrap #headBox #gnb > ul > li > a {
          width: 50px;
          height: 100px;
          font-size: 1rem;
          color: #fff;
          font-weight: bold;
          text-decoration: none; }
          #container #headWrap #headBox #gnb > ul > li > a:hover {
            border-bottom: 2px solid #E6E6E6; }
    #container #headWrap #movie_btn {
      width: 0;
      height: 0;
      display: none; }
  #container #banner {
    float: left;
    height: auto;
    position: absolute;
    top: 8vw; }
    #container #banner > #banner_box {
      width: 100%;
      height: 400px;
      margin: auto;
      overflow: hidden; }
      #container #banner > #banner_box > ul {
        width: 500%;
        height: 100%;
        margin-left: -100%; }
        #container #banner > #banner_box > ul > li {
          width: calc(100% / 5);
          height: 100%;
          float: left;
          background-repeat: no-repeat;
          background-size: cover; }
          #container #banner > #banner_box > ul > li.ban_1 {
            background-image: url("../img/banner01.jpg"); }
          #container #banner > #banner_box > ul > li.ban_2 {
            background-image: url("../img/banner02.jpg"); }
          #container #banner > #banner_box > ul > li.ban_3 {
            background-image: url("../img/banner03.jpg"); }
          #container #banner > #banner_box > ul > li.ban_4 {
            background-image: url("../img/banner04.jpg"); }
          #container #banner > #banner_box > ul > li.ban_5 {
            background-image: url("../img/banner05.jpg"); }
          #container #banner > #banner_box > ul > li > span {
            width: 0;
            height: 0;
            display: none; }
    #container #banner .banner_btn {
      width: 2rem;
      height: 100%;
      position: absolute;
      top: 0;
      z-index: 100; }
      #container #banner .banner_btn.btn_left {
        left: 3rem; }
      #container #banner .banner_btn.btn_right {
        right: 3rem; }
      #container #banner .banner_btn > button {
        width: 100%;
        height: 100%;
        transition: all 0.5s;
        font-size: 2.5rem;
        text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
        background-color: transparent;
        color: #fff; }
  #container #content_01 {
    float: left;
    background-color: #111;
    width: 100%;
    height: 18vw; }
    #container #content_01 > h1 {
      color: #fff;
      font-size: 1rem;
      width: auto;
      text-align: center; }
    #container #content_01 .con01Wrap {
      width: 100%;
      height: auto;
      margin-top: 2vw; }
      #container #content_01 .con01Wrap ul {
        width: 60vw;
        height: 10vw;
        margin: 0 auto; }
        #container #content_01 .con01Wrap ul li {
          width: 25%;
          height: 9vw;
          float: left; }
          #container #content_01 .con01Wrap ul li:nth-child(1) > a {
            background-image: url("../img/toystory.jpg"); }
          #container #content_01 .con01Wrap ul li:nth-child(2) > a {
            background-image: url("../img/nimo.jpg"); }
          #container #content_01 .con01Wrap ul li:nth-child(3) > a {
            background-image: url("../img/incredicles.jpg"); }
          #container #content_01 .con01Wrap ul li:nth-child(4) > a {
            background-image: url("../img/insideOut.jpg"); }
          #container #content_01 .con01Wrap ul li:last-child > a {
            margin-right: 0; }
          #container #content_01 .con01Wrap ul li > a {
            width: auto;
            height: 9vw;
            line-height: 15vw;
            text-align: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: block;
            border: 1px solid #222;
            position: relative; }
            #container #content_01 .con01Wrap ul li > a:hover > p {
              height: 38%;
              font-size: 1.1rem; }
            #container #content_01 .con01Wrap ul li > a p {
              position: absolute;
              display: inline-block;
              width: 100%;
              height: 25%;
              padding-top: 10px;
              left: 0;
              bottom: 0;
              background-color: #000;
              opacity: 0.7;
              color: #fff; }
  #container #content_02 {
    width: 100%;
    height: auto;
    padding: 2vw 0 5vw 0;
    background-color: #222;
    float: left;
    text-align: center; }
    #container #content_02 .careerWrap {
      padding-top: 5vw; }
      #container #content_02 .careerWrap h1 {
        width: 30vw;
        text-align: center;
        color: #ffba00;
        font-family: 'PT Serif', serif;
        font-size: 1rem;
        padding: 0.5rem 0 0.5rem 0;
        font-weight: bold;
        border: 1px solid #ffba00;
        margin: 0 auto; }
      #container #content_02 .careerWrap .spanLine {
        display: inline-block;
        width: 10vw;
        height: 1px;
        margin-top: 50; }
      #container #content_02 .careerWrap p {
        text-align: center;
        color: #fff;
        font-size: 1rem;
        line-height: 1.42rem;
        margin-top: 1.5vw;
        font-weight: normal; }
    #container #content_02 ul {
      width: 70vw;
      height: 40vw;
      margin: 0 auto;
      margin-top: 4vw; }
      #container #content_02 ul li {
        width: 50%;
        height: 50%;
        float: left;
        border: 1px solid #121212;
        box-sizing: border-box;
        background-size: cover;
        position: relative; }
        #container #content_02 ul li:nth-child(1) {
          background-image: url("../img/pixar-office.jpg"); }
        #container #content_02 ul li:nth-child(2) {
          background-image: url("../img/officer.jpg"); }
        #container #content_02 ul li:nth-child(3) {
          background-image: url("../img/drowing.jpeg"); }
        #container #content_02 ul li:nth-child(4) {
          background-image: url("../img/working.jpg"); }
        #container #content_02 ul li a {
          width: 100%;
          height: 100%;
          line-height: 150px;
          display: inline-block;
          cursor: pointer; }
        #container #content_02 ul li p {
          position: absolute;
          width: 46%;
          height: 46%;
          border: 3px solid #fff;
          color: #fff;
          left: 25%;
          bottom: 25%;
          padding: 2%;
          display: block; }
  #container #footBox .footWrap {
    width: 60vw;
    height: 3rem;
    margin: 0 auto;
    margin-top: 2rem; }
    #container #footBox .footWrap ul {
      width: 60vw;
      height: auto;
      float: left; }
      #container #footBox .footWrap ul li {
        width: auto;
        height: auto;
        float: left;
        color: #fff;
        margin-right: 1rem; }
        #container #footBox .footWrap ul li:nth-child(1) {
          width: 35px;
          height: 35px;
          background-color: #fff; }
        #container #footBox .footWrap ul li:nth-child(2) {
          width: 35px;
          height: 35px;
          background-color: #faf; }
        #container #footBox .footWrap ul li:nth-child(3) {
          width: auto;
          height: auto;
          background-color: #aaf; }
        #container #footBox .footWrap ul li:nth-child(4) {
          width: auto;
          height: auto;
          background-color: #dfd; }
        #container #footBox .footWrap ul li:last-child {
          background-color: #f3f;
          margin-right: 0; } }
@media screen and (min-width: 1025px) {
  .pc_hidden {
    width: 0;
    height: 0;
    display: none; }

  #topAdd {
    width: 24rem;
    height: 24rem;
    position: absolute;
    z-index: 5000;
    border-radius: 50%;
    top: 20%;
    left: 15%;
    background-color: rgba(80, 71, 57, 0.7); }

  #topAdd > p {
    width: 100%;
    height: auto;
    line-height: 3rem;
    color: #fff;
    font-size: 1.1rem;
    float: left;
    text-align: center;
    margin-top: 8rem; }

  /*#topAdd>.addbox{width: 100%; height:100%; float: left;}
  #topAdd>.addbox>a{color: #faa;}*/
  #topAdd > button {
    width: 2rem;
    height: 2rem;
    float: right;
    border-radius: 50%;
    color: #111;
    font-weight: bold;
    font-size: 1.2em;
    position: absolute;
    top: 18rem;
    right: 11rem; }

  #container #headWrap > #headBox {
    width: 70vw;
    height: auto;
    position: absolute;
    z-index: 1000;
    left: 20%;
    top: 3rem; }
    #container #headWrap > #headBox > h1 {
      width: 150px;
      height: 30px;
      background-repeat: no-repeat;
      display: block;
      float: left; }
    #container #headWrap > #headBox #gnb {
      width: 34rem;
      height: auto;
      float: right; }
      #container #headWrap > #headBox #gnb > ul {
        width: 34rem;
        height: 100%; }
        #container #headWrap > #headBox #gnb > ul::after {
          content: "";
          display: block;
          clear: both; }
        #container #headWrap > #headBox #gnb > ul > li {
          width: auto;
          height: 30px;
          margin-right: 4%;
          float: left;
          font-size: 1.375rem;
          letter-spacing: 0.1em;
          font-size: 22px;
          font-family: 'PT Serif', serif; }
          #container #headWrap > #headBox #gnb > ul > li:last-child {
            margin-right: 0; }
      #container #headWrap > #headBox #gnb > ul > li > a {
        width: 50px;
        height: 100px;
        font-size: 1rem;
        color: #fff;
        font-weight: bold;
        text-decoration: none; }
        #container #headWrap > #headBox #gnb > ul > li > a:hover {
          border-bottom: 2px solid #E6E6E6; }
  #container #headWrap .videoWrap {
    width: 100%;
    height: auto;
    float: left; }
  #container #headWrap #movie_btn {
    width: auto;
    height: auto;
    /*background-color: rgba(#333, .45);*/
    position: absolute;
    z-index: 1000;
    right: -8%;
    top: 11vh; }
    #container #headWrap #movie_btn.inbox {
      right: 0vw; }
  #container #headWrap #menu_ctn {
    width: 7.6vw;
    /* 140px / 16 */
    height: auto;
    position: relative; }
    #container #headWrap #menu_ctn > button {
      width: 30rem;
      height: 36.5vw;
      margin-left: -3rem;
      cursor: pointer;
      z-index: -50;
      background-color: #111;
      /*opacity: 0.8;*/
      border-radius: 0.4rem 0 0 0.4rem;
      position: absolute;
      top: 0;
      left: 0; }
      #container #headWrap #menu_ctn > button:hover {
        background-color: #111; }
      #container #headWrap #menu_ctn > button p {
        display: inline-block;
        color: #fff; }
    #container #headWrap #menu_ctn > .slide_menu {
      width: auto;
      height: auto;
      padding: 24px 14px; }
      #container #headWrap #menu_ctn > .slide_menu > li {
        width: 6vw;
        /* 110px = 6.875rem */
        height: 6vw;
        text-align: center;
        border-radius: 500px;
        margin-bottom: 10px;
        overflow: hidden; }
        #container #headWrap #menu_ctn > .slide_menu > li:nth-child(1) {
          background-image: url("../img/toystory.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center; }
        #container #headWrap #menu_ctn > .slide_menu > li:nth-child(2) {
          background-image: url("../img/nimo.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center; }
        #container #headWrap #menu_ctn > .slide_menu > li:nth-child(3) {
          background-image: url("../img/incredicles.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center; }
        #container #headWrap #menu_ctn > .slide_menu > li:nth-child(4) {
          background-image: url("../img/insideOut.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center; }
        #container #headWrap #menu_ctn > .slide_menu > li:last-child {
          background-image: url("../img/monster.Inc.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          margin-bottom: 0; }
        #container #headWrap #menu_ctn > .slide_menu > li:hover > a {
          background-color: rgba(17, 17, 17, 0.5);
          display: block; }
        #container #headWrap #menu_ctn > .slide_menu > li a {
          width: 100%;
          height: 60%;
          padding-top: 40%;
          line-height: 1.2;
          font-size: .9rem;
          color: #fff;
          display: none;
          text-decoration: none;
          font-weight: bold; }
  #container #banner {
    width: 0;
    height: 0;
    display: none; }
  #container #content_01 {
    width: 0;
    height: 0;
    display: none; }
  #container #content_02 {
    background-color: #111;
    /* // Stack items
    @media screen and (max-width: 600px) {
      
      // IE gets fussy if this isn't here
      body { margin:0; }
      
      .con01_box {height:auto;
        ul,ul:hover {
          li,li:hover {
          position:relative; display:table; table-layout:fixed; width:100%;
            -webkit-transition:none; transition:none;}
        } // ul,ul:hover 
      } //.con01_box
    } // max-width : 600px */ }
    #container #content_02 .careerWrap {
      margin: 4rem auto; }
      #container #content_02 .careerWrap h1 {
        text-align: center;
        color: #ffba00;
        font-size: 1.6rem;
        font-weight: bold;
        margin-bottom: 1rem; }
      #container #content_02 .careerWrap p {
        text-align: center;
        color: #eee;
        font-size: 1rem;
        line-height: 1.8rem; }
    #container #content_02 .con01_box {
      width: 100%;
      max-width: 1080px;
      height: 500px;
      overflow: hidden;
      margin: 40px auto; }
      #container #content_02 .con01_box ul {
        width: 100%;
        display: table;
        table-layout: fixed;
        margin: 0;
        padding: 0; }
        #container #content_02 .con01_box ul li {
          display: table-cell;
          vertical-align: bottom;
          position: relative;
          width: 16.666%;
          height: 500px;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          transition: all 500ms ease; }
          #container #content_02 .con01_box ul li div {
            display: block;
            overflow: hidden;
            width: 100%; }
            #container #content_02 .con01_box ul li div a {
              display: block;
              height: 500px;
              width: 100%;
              position: relative;
              z-index: 3;
              vertical-align: bottom;
              padding: 15px 20px;
              box-sizing: border-box;
              color: #fff;
              text-decoration: none;
              transition: all 200ms ease; }
              #container #content_02 .con01_box ul li div a * {
                opacity: 0;
                margin: 0;
                width: 100%;
                text-overflow: ellipsis;
                position: relative;
                z-index: 5;
                white-space: nowrap;
                overflow: hidden;
                -webkit-transform: translateX(-20px);
                transform: translateX(-20px);
                -webkit-transition: all 400ms ease;
                transition: all 400ms ease; }
              #container #content_02 .con01_box ul li div a h2 {
                /* text-overflow:clip; */
                font-size: 2rem;
                text-transform: uppercase;
                margin-bottom: 2px;
                top: 410px;
                display: block;
                color: #fff; }
              #container #content_02 .con01_box ul li div a p {
                top: 410px;
                font-size: 13.5px;
                color: #fff; }
        #container #content_02 .con01_box ul li:nth-child(1) {
          background-image: url("../img/pixar-office.jpg"); }
        #container #content_02 .con01_box ul li:nth-child(2) {
          background-image: url("../img/officer.jpg"); }
        #container #content_02 .con01_box ul li:nth-child(3) {
          background-image: url("../img/drowing.jpeg"); }
        #container #content_02 .con01_box ul li:nth-child(4) {
          background-image: url("../img/working.jpg"); }
        #container #content_02 .con01_box ul li:nth-child(5) {
          background-image: url("../img/meeting.jpg"); }
        #container #content_02 .con01_box ul li:nth-child(6) {
          background-image: url("../img/animator.jpg"); }
        #container #content_02 .con01_box ul:hover li {
          width: 8%; }
        #container #content_02 .con01_box ul:hover li:hover {
          width: 60%; }
          #container #content_02 .con01_box ul:hover li:hover a {
            background: rgba(0, 0, 0, 0.4); }
            #container #content_02 .con01_box ul:hover li:hover a * {
              opacity: 1;
              -webkit-transform: translateX(0);
              transform: translateX(0); }
  #container #footBox .footWrap {
    width: 60vw;
    height: 3rem;
    margin: 0 auto;
    margin-top: 2rem; }
    #container #footBox .footWrap ul {
      width: 60vw;
      height: auto;
      float: left; }
      #container #footBox .footWrap ul li {
        width: auto;
        height: auto;
        float: left;
        color: #fff;
        display: inline-block;
        height: 35px; }
        #container #footBox .footWrap ul li p {
          line-height: 35px;
          color: #fff; }
          #container #footBox .footWrap ul li p::after {
            content: "|";
            margin-right: 10px; }
        #container #footBox .footWrap ul li:nth-child(1) {
          width: 35px;
          height: 35px;
          background-color: #fff; }
        #container #footBox .footWrap ul li:nth-child(2) {
          width: 35px;
          height: 35px;
          background-color: #faf;
          margin-right: 15px; }
        #container #footBox .footWrap ul li:last-child {
          margin-right: 0; } }
/* index.scss */

/*# sourceMappingURL=index_pixar333.css.map */
